body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Barlow Condensed", sans-serif;
  font-family: "Dancing Script", cursive;
  font-family: "Pacifico", cursive;
  font-family: "Work Sans", sans-serif;
  background-color: black;
}

nav {
  background-color: darkseagreen;
  color: black;
  width: 100%;
  padding: 10px;
  height: 30px;
  display: flex;
  align-items: center;
  position: fixed;
}
nav > h3 {
  margin: 0;
}
#container {
  padding: 10px 10px 10px;
}
.paragraph-thought {
  color: black;
  background-color: lightcyan;
  padding: 10px;
  border: 1px solid none;
  border-end-end-radius: 15px;
  border-top-left-radius: 15px;
  font-size: 20px;
  font-weight: bold;
}

.user-name {
  color: white;
  font-weight: bold;
}

form {
  display: flex;
  flex-direction: column;
  padding: 60px 10px 10px;
  background-color: aliceblue;
  color: #ff5733;
}
button {
  margin-top: 10px;
  cursor: pointer;
  padding: 10px;
  font-size: 20px;
}
label {
  font-size: 20px;
  padding: 5px;
}
.textInput {
  font-size: 20px;
}
button {
  background-color: #d67737;
  border-radius: 15px;
  border-color: #d67737;
  color: white;
}
